body{
    margin: 0;
    padding: 0;
}

.home-form-container {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(245, 245, 245);
}
.home-header{
    display: flex;
    align-items: flex-end;
    /* height: 75%; */
    /* margin-left: 15px; */
    margin-bottom: 5px;
    padding: 0px;
}

.home-profile-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}


@media screen and (min-width: 768px) {
    .home-form-container {
        height: 100vh; 
        max-width: 360px;
        margin: auto;
    }

    .home-profile-page {
        height: 740px;
        
    }

}


.home-input-button {
    color: #ffffff;
    padding: 0;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    width: calc(100% - 3rem);
    height: 40px;
    background: #7d2ae8;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
}

.home-bottom-button-container {
    width: calc(100% - 0rem);
    text-align: center;
    margin-top: 10px;
}
