body {
    margin: 0;
    padding-left: 0;
}

.profile-container{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(241, 241, 241);
}

.profile-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.profile-header {
    height: 8%;
    background-color: white;
}

.profile-content {
    background-color: rgb(241, 241, 241);
    margin-left: 15px;
    margin-top: 30px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
    position: relative;
    display: inline-block; 
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-top:-4px;
    margin-left: 10px;
}


.camera-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3); 
}

.content-section {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.dashed-line {
    width: 100%;
    text-align: center;
    line-height: 0.1em;
    margin: 10px 0; 
}

@media screen and (min-width: 768px) {
    .profile-container {
        max-width: 360px;
        margin: auto;
    }
    
    .profile-page {
        height: 740px;
        
    }

    .profile-content {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}
