.signin-container{
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0px;
    padding-bottom: 0px;
    height: 100vh; 
}

.signin-header-container {
    margin-left: 5px;
    margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
    .signin-header {
        margin-top: 100px;
    }

    .signin-header-container {
        max-width: 360px;
        margin: auto;
        margin-bottom: 25px;
    }
}

.input::placeholder {
    font-size: 0.8em;
    
}



.signin-input-button {
    color: #ffffff;
    padding: 0; 
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    width: 105%;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px; 
}


.signin-button-container {
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-top: 10px; 
}



/* 
.signin-input {
    all: unset;
    color: #000000;
    padding: 1.25rem;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc(100% - 0rem);
    height: 20px;
}

.signin-input:focus {
    border: 1px solid var(--primary);
}

.signin-input:is(:focus, :valid)~label {
    transform: translateY(-120%) scale(0.7);
    background-color: #fefefe;
    padding-inline: 0.3rem;
    color: var(--primary);
}

.signin-input-group {
    font-size: 1.1rem;
    position: relative;
    --primary: #7d2ae8;
    margin-bottom: 20px;
} */
